.mySlides {
    display: none;
    width:98%;
    height:550px;
    margin:1%
    
}
.link{
  color: skyblue;
  }
.alignleft {
  float: left;
  margin-left: 1%;
}
.alignright {
  float: right;
  margin-right: 1%;
}
.w3-tangerine {
  font-family: "Tangerine", serif;
}
.indiadesc{
  align-content: center;
  text-align: center;
  margin-left: 2%;
  margin-right:2%;
}

header h2 {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	text-align: left;
}
  
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}